{# @var plugin \rocketpark\mux\Mux #}
{# @var settings \rocketpark\mux\models\Settings #}
{% requirePermission "mux:settings" %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% from "mux/_includes/macros.twig" import configWarning %}

{% block content %}

    <input type="hidden" name="action" value="mux/settings/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="mux">

    {{ redirectInput("mux/settings") }}

    {% namespace "settings" %}
        
        {{ forms.textField({
            label: "Plugin name"|t("mux"),
            instructions: "The public-facing name of the plugin"|t("mux"),
            id: "pluginName",
            name: "pluginName",
            suggestEnvVars: true,
            value: settings.pluginName,
            warning: configWarning("pluginName", "mux"),
            errors: settings.getErrors("pluginName"),
        }) }}


        {{ forms.autosuggestField({
            label: "MUX Token Id"|t("mux"),
            instructions: "Mux Token Id generated in your [Mux account]('https://docs.mux.com/guides/video/stream-video-files#1-get-an-api-access-token')."|t("mux"),
            id: "muxTokenId",
            name: "muxTokenId",
            suggestEnvVars: true,
            value: settings.muxTokenId,
            warning: configWarning("muxTokenId", "mux"),
            errors: settings.getErrors("muxTokenId")
        }) }}


        {{ forms.autosuggestField({
            label: "MUX Token Secret"|t("mux"),
            instructions: "MUX Token Secret generated in your [Mux account]('https://docs.mux.com/guides/video/stream-video-files#1-get-an-api-access-token')."|t("mux"),
            id: "muxTokenSecret",
            name: "muxTokenSecret",
            suggestEnvVars: true,
            value: settings.muxTokenSecret,
            warning: configWarning("muxTokenSecret", "mux"),
            errors: settings.getErrors("muxTokenSecret"),
        }) }}

<hr>
        {% set instructions %}
            Secure playback requires you use a signed key in your playback url. 
            <a href="https://docs.mux.com/guides/video/secure-video-playback#6-include-the-json-web-token-jwt-in-the-media-url" target="_blank">View Documentation</a>
        {% endset %}

        {{ forms.lightswitchField({
            id: 'muxSecurePlayback',
            name: 'muxSecurePlayback',
            label: 'Secure Playback <div class="info">%s</div>'|format(instructions),
            onLabel: 'Secure'|t('mux'),
            offLabel: 'Public'|t('mux'),
            value: settings.muxSecurePlayback,
            on: settings.muxSecurePlayback,
        }) }}
<hr>

    {% set webhookinfo %}
        Mux uses webhooks to let your application know when things happen asynchronously, outside of an API request cycle.
        <a href="https://docs.mux.com/guides/system/listen-for-webhooks" target="_blank">View Documentation</a>
    {% endset %}

    {% set copywebhook =  forms.copytext({
        id:'muxWebhookUrl',
        name: 'muxWebhookUrl',
        value:siteUrl ~ 'actions/mux/webhooks/mux-webhooks'
    }) %}

     {{ forms.field({
        label: 'Webhook <div class="info">%s</div>'|format(webhookinfo),
        name: 'muxWebhookUrl-Field',
    }, copywebhook) }}

    {% endnamespace %}

    {# include our JavaScript modules #}
    {{ parent() }}
{% endblock %}
