{% import "_includes/forms" as forms %}

{{ forms.hidden({
    id:"asset_id",
    name:"asset_id",
    value: muxAsset.asset_id
}) }}

{{ titleFieldHtml }}

<div>
    <mux-player
        primary-color="#ffffff"
        stream-type="on-demand"
        metadata-video-id="{{ muxAsset.asset_id}}"
        playback-id="{{ muxAsset.playback_ids[0].id }}"
        metadata-video-title="{{ muxAsset.title }}"></mux-player>
</div>