{% import "_includes/forms" as forms %}
{% set ns = craft.app.view.getNamespace is not empty ? craft.app.view.getNamespace ~ "-" : ''  %}

{{ forms.hidden({
    id:"asset_id",
    name:"asset_id",
    value: muxAsset.asset_id
}) }}

{{ titleFieldHtml }}

<div id="mux-player-container-{{ muxAsset.id }}">
    {% if muxAsset.securePlayback %}
        {% set tokens = muxAsset.securePlaybackTokens %}
        {% if tokens|length >= 1 %}       
            {% set keyID = tokens[0]['key_id'] %} 
            {% set videoToken = muxAsset.getSecurePlaybackJWT(keyID) %}
            {% set thumbToken = muxAsset.getSecurePlaybackJWT(keyID, 't') %}
            {% set storyboardToken = muxAsset.getSecurePlaybackJWT(keyID, 's') %}
            <mux-player
                    id="mux-player-{{ muxAsset.id }}"
                style="aspect-ratio: 16/9;"
                accent-color="#cf3f40"
                stream-type="on-demand"
                metadata-video-id="{{ muxAsset.asset_id }}"
                metadata-video-title="{{ muxAsset.title }} (CraftCMS Entry)"
                playback-id="{{ muxAsset.playback_ids[0].id }}"
                playback-token="{{ videoToken }}"
                thumbnail-token="{{ thumbToken }}",
                storyboard-token="{{ storyboardToken }}"
                disable-cookies="true"
                default-hidden-captions="true"
                title="{{ muxAsset.title }}"
            ></mux-player>
        {% else %}
            <h3>{{ "Must create Signed Keys to playback this video and view thumbnails."|t('mux') }}</h3>
        {% endif %}
    {% else %}
        <mux-player
                id="mux-player-{{ muxAsset.id }}"
            style="aspect-ratio: 16/9;"
            accent-color="#cf3f40"
            stream-type="on-demand"
            metadata-video-id="{{ muxAsset.asset_id }}"
            metadata-video-title="{{ muxAsset.title }} (CraftCMS Entry)"
            playback-id="{{ muxAsset.playback_ids[0].id }}"
            disable-cookies="true"
            default-hidden-captions="true"
            title="{{ muxAsset.title }}"></mux-player>
    {% endif %}
</div>

{% js at endBody %}
$(function() {
    $("#{{ ns }}mux-player-container-{{ muxAsset.id }}").find('mux-player').each(function() {
        const player = $(this)[0];
        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if (entry.target === player) {
                    if (!entry.isIntersecting) {
                        player.pause();
                    }
                }
            });
        }, {
            threshold: 0.5  // 50% of the player should be visible to trigger the observer
        });
        observer.observe(player);
    });
});
{% endjs %}
